body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.invoice-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
}

.info {
    margin-top: 20px;
}

.items {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.total {
    margin-top: 20px;
}

.footer {
    margin-top: 20px;
}
@media print {
    .invoice, .invoice * {
        visibility: visible;
    }
    .cetak{
        visibility: visible;    
    }
   
}